{% extends 'accounts/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Логин:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Войти</button>
    </form>
    {% if error %}
    <p style="color: red; text-align: center; margin-top: 20px;">{{ error }}</p>
    {% endif %}
{% endblock %}